<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rama.service.autofillpoc">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoFillPOC"
        tools:targetApi="31">
        <activity
            android:name=".ConfigurationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        Declare AutofillService implementation; only needed for a small number of apps that will
        be implementing an AutofillService. Framework parses meta-data and sets the service's
        Settings Activity based on what the meta-data resource points to.
        -->
        <service
            android:name=".basic.BasicAutoFillService"
            android:label="Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/dataset_service" />

            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

</manifest>